{% if page == 0 %}
    <div class="row">
        <form id="newGossip" role="form">
            <div class="col-lg-9">
                <div class="form-group">
                    <textarea rows="6" id="content" name="content" data-toggle="collapse" class="form-control" placeholder="写下你此刻心中任何杂乱的思绪" resize="false"></textarea>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="price">
                        价格:
                        <input type="number" value="0" min="0" max="300" step="5" id="price" name="price" class="form-control">
                    </label>
                </div>
                <a href="{{ url_for('add_gossip') }}" id="push" class="btn btn-default btn-lg">发表</a>
            </div>
        </form>
    </div>
{% endif %}
<ul class="list-group gossips">
    {% for gossip in gossips %}
        <li class="list-group-item panel panel-default">
            <div class="panel-body">{{ gossip.content }}</div>
            <div class="panel-footer">
                <span class="time">{{ gossip.datetime }}</span>
            </div>
        </li>
    {% else %}
        <p>空空如也，快去发条Gossip吧</p>
    {% endfor %}
</ul>


