{% extends "layout.html" %}
{% block script %}
    <script>
        $(document).ready(function() {
            var page = [0, 0, 0];
            $('#gossip').click(function(evt) {
                var url=$(this).attr('href');
                $('main').load(url);
                evt.preventDefault();
            });
            $('#gossip').click();

            $('#rank').click(function(evt) {
                var url=$(this).attr('href');
                $('main').load(url);
                evt.preventDefault();
            });

            $('#info').click(function(evt) {
                var url=$(this).attr('href');
                $('main').load(url);
                evt.preventDefault();
            });

            $('#fish').click(function(evt) {
                var url=$(this).attr('href');
                $('main').load(url);
                evt.preventDefault();
            });

            $('#add-friend').click(function(evt) {
                var url=$(this).attr('href');
                $('main').load(url);
                evt.preventDefault();
            });

            $('#request').click(function(evt) {
                var url=$(this).attr('href');
                $('main').load(url);
                evt.preventDefault();
            });
        });
    </script>
{% endblock %}
{% block body %}
    <aside>
        <a href="{{ url_for('my_gossip') }}" id="gossip">我的Gossip</a>
        <a href="{{ url_for('rank') }}" id="rank">金币排行榜</a>
        <a href="{{ url_for('infocenter') }}" id="info">好友动态</a>
        <a href="{{ url_for('fish') }}" id="fish">钓鱼场</a>
        <a href="{{ url_for('add_friend') }}" id="add-friend">添加好友</a>
        <a href="{{ url_for('message_box') }}" id="request">好友请求</a>
    </aside>
    <main>
    </main>
{% endblock %}
